<header>
  <div class="button-back"><a href="index.html">Homepage</a></div>
</header>

<section>
  <div class="container-headline">
    <img src="/assets/images/fellowship.png" class="overflow" alt="">
  </div>
</section>

<section class="container__left">
  <article class="container-medium__fellow">
    <h1>The Yellowbird Fellowship</h1>
    <h3>A Yellowbird Fellowship? Tell me more...</h3>
    <p>A Yellowbird fellowship is a 90-day sprint for individuals that share the same passion in helping solve a problem. At Yellowbird, having excellent content is our top priority. When a contributor writes a piece or curates a lesson for Yellowbird, it’s up to us to ensure that the Yellowbird tone comes across clearly. </p>

    <h3>About the "Office"</h3>
    <p>We’re virtual for the most part. If you’re in Atlanta, we can always work together. We’ll have weekly calls and a dedicated group chat in Slack to keep things fresh and progressing during the week.</p>


    <aside class="container-list">
      <h3>Current Fellowships</h3>
      <ul class="list-fellowships">
        <li class="button_grey" (click)="goTo('content-fellow')"><a>Content</a></li>
        <li class="button_grey" (click)="goTo('illustration-fellow')"><a>Creative</a></li>
        <li class="button_grey" (click)="goTo('marketing-fellow')"><a>Marketing</a></li>
        <li class="button_grey" (click)="goTo('marketing-fellow')"><a>Research</a></li>
      </ul>
    </aside>
  </article>


  <!-- Content Fellowship
  ----------------------------------------->

  <article class="container-medium__fellow" id="content-fellow">
    <h2>Content Fellow</h2>
    <p>At Yellowbird, having excellent content is our top priority. When a contributor writes a piece or curates a lesson for Yellowbird, it’s up to us to ensure that the Yellowbird tone comes across clearly. The Content fellow will help create content, edit pieces and develop copy for curriculum campaigns. Ensuring that our content meets the needs & interests of our website visitors and app users is one of the most crucial ingredients to our success. This fellowship requires someone who has a good eye for detail and a passion for helping others learn.</p>
    <br>
    <p><strong>A typical Content Fellow's week would look something like this</strong></p>
    <ul class="list-objectives">
      <li>Build content for the Yellowbird courses based on the research provided for each curriculum segment.</li>
      <li>Revise and edit course content for the Yellowbird platform.</li>
      <li>Identify and understand Yellowbird’s audience & craft a relevant voice.</li>
      <li>Draft copy for Yellowbird and campaign micro-sites.</li>
    </ul>

    <a href="https://goo.gl/forms/RFbup0JqCxohTdjo2"><button>Apply Now</button></a>
  </article>


  <!-- Illustration Fellowship
  ----------------------------------------->

  <article class="container-medium__fellow" id="illustration-fellow">
    <h2>Creative Fellow</h2>
    <p>
      At Yellowbird, having <strong>excellent design</strong> is one of our top priorities and distinguishers. A big part of disrupting the financial education model is to create a total unique experience. Great typography, layouts, useful and engaging illustration is a big part of that. Some of the responsibilities a creative fellow will be asked to help out with includes:
    </p>
    <br>
    <p><strong>The ideal candidate</strong></p>
    <p>We’re looking for is energetic and creative with a positive outlook and a passion for creating change in the world through using their talents.  Must be artistically inclined and have ability to blend well with our virtual office culture: be fun, be loose, but most of all, driven.</p>
    <br>
    <p><strong>A typical Creative Fellow's week would look something like this</strong></p>
    <ul class="list-objectives">
      <li>Design digital and print collateral for national campaigns and large scale events.</li>
      <li>Create illustrations, banners, fliers, and advertisements to be displayed to our audience.</li>
      <li>Create digital assets for social media channels.</li>
    </ul>

    <a href="https://goo.gl/forms/RFbup0JqCxohTdjo2"><button>Apply Now</button></a>
  </article>

  <!-- Marketing Fellowship
  ----------------------------------------->

  <article class="container-medium__fellow" id="marketing-fellow">
    <h2>Marketing Fellow</h2>
    <p>This unique opportunity allows a Marketing Fellow to join a growing start-up company while learning about launching social media & direct response campaigns across digital platforms (FB, YouTube, AdWords, Search, and Twitter), write copy for ads, assist in writing engaging emails, be the liaison between Yellowbird and key Influencers, pull weekly reports, and more.</p>
    <br>
    <p><strong>The ideal candidate were looking for</strong></p>
    <ul class="list-objectives">
      <li>Strong analytical skills a must</li>
      <li>Ability to write clear, short, creative and effective copy</li>
      <li>An understanding of good design and layouts for emails and graphics</li>
      <li>Ability to brainstorm creative ideas to capture attention</li>
      <li>Pro-active and work independently with guidance, but limited supervision, must be able to work well within a virtual team environment</li>
      <li>Strong attention to detail and accuracy; persistent follow-through skills</li>
      <li>Proven ability to organize, prioritize and complete multiple types of tasks</li>
      <li>Computer and internet skills with proficiency in Microsoft Office including Word, PowerPoint, and Excel and Google Drive as well as general knowledge of Adobe Photoshop and InDesign</li>
    </ul>

    <a href="https://goo.gl/forms/RFbup0JqCxohTdjo2"> <button>Apply Now</button></a>
  </article>


</section>