//  ===============================
//  Base Colors
//  ===============================

// Base colors
$white              : #fff;
$black              : #000;
$snow-grey          : #fafafa;
$spanish-grey       : #979797;
$tundora            : #4a4a4a;

$stil-de-grain      : #fdef5e;
$banana-mania       : #fbf2b0;
$sunburst           : #fdc841;

$electric-violet    : #884EF9;
$lightblue          : #8cbbf7;

// Functional color styles
$base-color         : $stil-de-grain;
$base-color         : $stil-de-grain;

$acccent-color-light: $banana-mania;
$accent-color-dark  : $sunburst;

$paragraph          : $spanish-grey;
$header             : $tundora;
$sub-header         : $lightblue
