<h2>About</h2>
Hello!
<p>
  Yellowbird is a mobile-first app that teaches you everything you want to know about your personal money. Yellowbird's content is structured to be learned in small, bite-sized pieces with multiple, interactive formats. We want to take advantage of those small windows of time during a meal, while commuting,
  walking the dog, etc. to teach you things that can help you understand your finances.
</p>
<p>

</p>


<ul>
  <li *ngFor="let link of LinkList">
    <a [href]="link.href">{{link.name}}</a>
  </li>
</ul>
