<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<form id="requestform">
      <div class="modal-dialog" id="RequestModal">
        <div class="modal-content">
        <div class="modal-header">
          <div class="modal-title">
            <p>
          Send us your name and email to receive 
            <br/>
          access to the Yellowbird Incubator System
          </p>
            </div>
          </div>
          <div class="modal-body">
            <div class="row">
            <input type="textbox" style="margin-left:20px;" placeholder="Full Name" id="fullname" class="required email">
            </div>
            <div class="row">
                <input type="textbox" style="margin-left:20px;" placeholder="Email" id="email">
            </div>
            
            </div>
            <div class="modal-footer">
              <button id="cancelbutton" data-dismiss="modal">Cancel</button>
             <button id="submitbutton" >Submit</button>
            </div>
        </div>
        </div>
      </form>
