<div class="container">
  <input type="text" class="alert-heading CourseName" [(ngModel)]="lesson.LessonName" placeholder="Name of Lesson"/>
  <br/>
  <textarea style="resize:none;" rows="5" [(ngModel)]="lesson.Discription" class="text-left form-control  mt-2 Discription" placeholder="Write a brief description about the lesson...">{{lesson.Discription}}</textarea>

  <div class="row" style="margin-top: 5%;margin-left: 0%">
    <!-- <select class="js-example-basic-single Saving" name="states[]" multiple="multiple">
      <option value="AL">Alabama</option>
      <option value="AL">Alabama</option>
      <option value="AL">Alabama</option>
      <option value="AL">Alabama</option>



      <option value="WY">Wyoming</option>
    </select> -->
  </div>
</div>
