


.left-inner-addon {
  position: relative;
}

.left-inner-addon input {
  padding-left: 30px;
}

.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}
#profileimage {
  margin-left: 80px;
}

#profileimage2 {
  margin-left: 80px;
}


#password2 {
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: #4a4a4a;
}
