<!-- Start Here --------------------------->



<section class="container">

  <!--  <div class="logo"><img src="../../assets/images/logo.png"></div>-->

  <div class="col-lg-12"><img src="../../assets/images/learning.png" id="yellowbirdLogo" align="middle"></div>

<!-- </section> -->

<div class="col-lg-12">
<div class="row">
  <p id="dashboardTitle">
    Financial education
    <br />

    <br />
    made easy.
  </p>
  <br />
  <br />
  </div>
  <div class="row">
  <p id="dashboardSubTitle">Instead of teaching from a 500-page book or in an auditorium, we are providing a mobile-first platform designed for you - on the go!</p>
  </div>


</div>


<!-- How It Works --------------------------->
<!--
<section>

    <article class="container-full">

        <div>
            <h2>Meet Yellowbird</h2>
            <h4>Free financial education in your pocket</h4>
            <p>Yellowbird is a mobile-first app that teaches you everything you want to know about your personal money. Yellowbird's content is structured to be learned in small, bite-sized pieces with multiple, interactive formats. We want to take advantage of those small windows of time during a meal, while commuting, walking the dog, etc. to teach you things that can help you understand your finances.</p>
        </div>
        <div class="img-large__iphone"><img src="../../assets/images/product.png"></div>

    </article>
        -->
<!--
    <section class="container">
        <article class="container group">

            <h2>How Yellowbird Works</h2>

            <ul class="list-features">
    -->
<!-- Personalization ------------------------->
<!--
                <li class="container-mini">

                    <div class="img-medium"><img src="../../assets/images/personalize.png"></div>

                    <h5>Personalization</h5>

                    <p>You select what topics you want to learn about first and you learn about them at your preferred pace.</p>

                </li>
    -->
<!-- Microlearning --------------------------->
<!--
                <li class="container-mini">

                    <div class="img-medium"><img src="../../assets/images/microlearning.png"></div>

                    <h5>Microlearning</h5>

                    <p>The process of learning complex skills and themes in short, bite-sized segments.</p>

                </li>
    -->
<!-- Gamification --------------------------->
<!--

                <li class="container-mini">

                    <div class="img-medium"><img src="../../assets/images/gamification.png"></div>

                    <h5>Gamification</h5>

                    <p>Yellowbird takes boring, hard concepts, and turned them into fun, engaging game-like lessons.</p>

                </li>
    -->
<!-- Definitions ----------------------------->
<!--
                <li class="container-mini">

                    <div class="img-medium"><img src="../../assets/images/definition.png"></div>

                    <h5>Study Guides & Definitions</h5>

                    <p>Simple illustrations are used to depict newly introduced financial terms and concepts.</p>

                </li>
    -->
<!-- Status Levels --------------------------->
<!--
                <li class="container-mini">

                    <div class="img-medium"><img src="../../assets/images/levels.png"></div>

                    <h5>Status Levels</h5>

                    <p>The more points you earn, the higher your status. Unlock features, special content, and partner rewards as your level increases.</p>

                </li>
    -->
<!-- Push Notifications --------------------->
<!--
                <li class="container-mini">

                    <div class="img-medium"><img src="../../assets/images/notification.png"></div>

                    <h5>Push Notifications</h5>

                    <p>Get notified about study reminders and new course material.</p>

                </li>

            </ul>

        </article>



    </section>


</section>
    -->
